<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.context.core.contributor">
      <contextContributor
            class="edu.tum.cs.mylyn.provisioning.target.TargetContributor"
            name="Target Platform Contributor">
      </contextContributor>
   </extension>
   <extension
         point="edu.tum.cs.mylyn.provisioning.core.elementMapper">
      <elementMapper
            class="edu.tum.cs.mylyn.internal.provisioning.target.TargetElementMapper">
      </elementMapper>
   </extension>
</plugin>
